<div class="mat-elevation-z8 data-table" >
  <mat-card class="formulario" style="text-align: center;">
      <mat-card-header class="title">
          <mat-card-title>Lista de Máquinas</mat-card-title>
      </mat-card-header>
      <div class="table-responsive">
      <pre>
      
      </pre>
        <mat-card-content class="table table-striped">
        <!-- ##### MUDAR PARA mat-Table -->
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Id. </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="codigo">
              <th mat-header-cell *matHeaderCellDef> Codigo </th>
              <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="descricao">
              <th mat-header-cell *matHeaderCellDef> descricao </th>
              <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="linha">
              <th mat-header-cell *matHeaderCellDef> linha </th>
              <td mat-cell *matCellDef="let element"> {{element.linha}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <!-- ##### Configurar Pagination #### -->

          </table>
        <!-- ##### MUDAR PARA mat-Table ##### -->
        </mat-card-content>
    </div>
  </mat-card>

</div>
